<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block mycss %} {% endblock mycss %}
</head>
<body>
    {% block login_page %}
    {% endblock %}
    {% block homeStudent %}
    {% endblock %}
    {% block homeProf %}
    {% endblock %}
    {% block predmetiNositelj %}
    {% endblock %}
    {% block homeAdmin %}
    {% endblock %}
    {% block createPredmet %}
    {% endblock %}
    {% block studenti %}
    {% endblock %}
    {% block predmeti %}
    {% endblock %}
    {% block profesori %}
    {% endblock %}
    {% block createStudentOrProfesor %}
    {% endblock %}
    {% block studentiPoPredmetu %}
    {% endblock %}
    {% block studentiPoPredmetu2 %}
    {% endblock %}
    {% block projekt %}
    {% endblock %}
</body>
</html>