{% extends 'base.html' %}

{% block mycss %} 
<style> 
table, th, td {
  border:1px solid black;
}
a { text-decoration: none; }
</style> 
{% endblock %}

{% block studenti %}
    {% if request.user.role_id == 1 %}
        <a href="{% url 'login' %}">Logout </a>
        <a href="{% url 'predmeti' %}">Predmeti </a>
        <a href="{% url 'studenti' %}">Studenti </a>
        <a href="{% url 'profesori' %}">Profesori</a>
        <hr>

        <h2>Popis studenata:</h2>
        {% for student in data %}
            {% if student.role_id == 3 %}
                <b>{{ student.id }}</b>
                <b>{{ student.first_name }}</b>
                <b>{{ student.last_name }}</b>
                <b>{{ student.status }}</b>
                <a href="{% url 'promjenaUpisnogLista' student_id=student.id %}">promijeni upisni list</a>
                <a href="{% url 'editStudent' student_id=student.id %}">edit</a>
                <hr>
            {% endif %}
        {% endfor %}
        <a href="{% url 'createStudentOrProfesor' %}">Dodaj studenta</a>
    {% else %}
        <h2>Nemate ovlasti za pristup sadržaju</h2>
    {% endif %}
{% endblock %}